.drop-down-className {
    border: none;
    font-size: 22px;
    font-weight: 700;
    margin-right: 10px;
    cursor: pointer;
}

.drop-down-option {
    padding: 23px;
    font-size: 14px;
    font-weight: bold;
}

.Dropdown-menu {
    border: none;
    background-color: #F7F7F7;


}